* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.alert-reklam {
  background-color: #F6475F;
  padding: 12px;
}

.box-reklam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-reklam span {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
}

.box-reklam span a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: transparent;
  text-decoration: underline;
}

.box-reklam .close {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box-reklam .close span {
  font-size: 25px;
  margin: 0px 0 4px 5px;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
}

.box-reklam .close span:hover {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.connecting-header {
  background-color: #343A40;
  padding: 12px 0 10px;
  font-size: 16px;
}

.connecting-header .info i {
  font-size: 19px;
}

.connecting-header .info span {
  margin: 7px;
}

.connecting-header button {
  background-color: #DF9C00;
  border: 0px;
  color: white;
  padding: 7px 15px;
  border-color: #DF9C00;
  border-radius: 4px;
  font-size: 14px;
}

.connecting-header .apply {
  color: white !important;
}

.connecting-header a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.connecting-header a:hover {
  color: #DF9C00;
  text-decoration: none;
}

.connecting-header .login {
  color: white;
  margin-left: 194px;
}

.connecting-header .login .icon {
  margin-left: 13px;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
}

.connecting-header .login .icon:hover {
  color: #DF9C00;
}

.is-sticky {
  -webkit-box-shadow: -8px 2px 21px -10px;
          box-shadow: -8px 2px 21px -10px;
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav a {
  color: #333333;
  font-weight: bold;
  font-family: sans-serif;
}

nav .form-control {
  display: none;
  margin-right: 30px;
  position: absolute;
  z-index: 3;
  right: 0px;
  top: 65px;
  width: 260px;
  padding: 34px 20px;
  -webkit-box-shadow: 0.1px -0.8px 3.3px 1.2px;
          box-shadow: 0.1px -0.8px 3.3px 1.2px;
  font-family: "Roboto', sans-serif";
}

nav .form-control .search {
  background-color: transparent;
  border: 0;
  position: absolute;
  z-index: 1;
  top: 18px;
  right: 20px;
  font-size: 23px;
  color: #777;
}

nav .form-control #search_input {
  position: absolute;
  top: 0;
  padding: 10px 20px;
  margin-top: 8px;
  border-radius: 2px;
}

form {
  padding: 10px 20px;
}

.search-icon {
  border: 0px;
  background-color: #fff;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

ul li a {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

ul li a:hover {
  color: #DF9C00;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#carousel .carousel-control-prev {
  position: absolute;
  z-index: 2;
}

#carousel .carousel-control-prev .carousel-control-prev-icon {
  background-color: rgba(12, 12, 12, 0.849);
  width: 30px;
  height: 30px;
  border-radius: 80%;
}

#carousel .carousel-control-next {
  position: absolute;
  z-index: 2;
}

#carousel .carousel-control-next .carousel-control-next-icon {
  background-color: rgba(12, 12, 12, 0.849) !important;
  width: 30px;
  height: 30px;
  border-radius: 80%;
}

#carousel .carousel-item {
  height: 640px;
}

#carousel .btn-default {
  position: absolute;
  z-index: 2;
  top: 130px;
  left: 230px;
  padding: 15px;
  width: 160px;
}

#carousel .btn-outline-white {
  position: absolute;
  z-index: 2;
  top: 130px;
  right: 230px;
  padding: 15px;
  border-radius: 5px;
  width: 160px;
}

#carousel .text-center {
  position: absolute;
  top: -350px;
}

#carousel h2 {
  font-size: 42px;
}

#carousel p {
  font-size: 20px;
  margin-top: 20px;
}

#carousel .overlay {
  position: absolute;
  background-color: rgba(37, 36, 36, 0.63);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.modal-content {
  z-index: 99;
  position: relative;
  border-radius: 6px;
  min-height: 58.8%;
}

.modal-body {
  padding: 0;
  height: 540px;
}

.image {
  margin: 0px;
}

.image img {
  width: 300px;
  height: 440px;
}

.registration {
  padding: 20px;
}

footer .top {
  padding: 60px 0px;
}

footer .top .footer-logo {
  margin-bottom: 15px;
}

footer .top p {
  color: #fff;
  font-size: 14px;
}

footer .top .contact-info li {
  list-style: none;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

footer .top .contact-info li a {
  color: #fff;
  text-decoration: none;
}

footer .top .contact-info li i {
  font-size: 18px;
  vertical-align: middle;
  max-width: 30px;
  width: 100%;
  text-align: center;
  margin-right: 5px;
}

footer .title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
  position: relative;
  color: #fff;
}

footer .links-list li {
  list-style: none;
  padding: 0 0 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .links-list li:hover {
  -webkit-transform: translateX(13px);
          transform: translateX(13px);
  color: #FFBC09;
}

footer .links-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  position: relative;
}

footer .post li {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
}

footer .post li .recent-post-img {
  float: left;
  margin-right: 10px;
  max-width: 60px;
}

footer .post li .recent-post-content {
  overflow: hidden;
}

footer .post li .recent-post-content h6 {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 5px;
  color: #fff;
  font-weight: normal;
}

footer .post li .recent-post-content h6 a {
  color: #fff;
  text-decoration: none;
}

footer .post li .recent-post-content h6 .recent-post-content-date {
  font-size: 80%;
  color: rgba(255, 255, 255, 0.6);
}

footer .username {
  position: relative;
}

footer .username input {
  padding: 10px 105px 10px 15px;
  width: 100%;
  border: 0;
  color: #777777;
  height: 43px;
}

footer .username button {
  position: absolute !important;
  right: 19px;
  top: 10.2px;
  padding: 10px;
}

footer .list-icon {
  font-size: 0;
}

footer .list-icon li {
  list-style: none;
  display: inline-block;
  margin-left: 6px;
  padding: 4px 2px;
  height: 35px;
  width: 35px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #fff;
  border-radius: 5px;
}

footer .list-icon li:hover a {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: #DF9C00;
}

footer .list-icon li a {
  text-decoration: none;
  font-size: 18px;
  margin-top: 4px;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .bottom {
  padding: 30px 0;
  position: relative;
  background-color: #202325;
}

footer .bottom .bottom-link li {
  display: inline-block;
  position: relative;
  list-style: none;
}

footer .bottom .bottom-link li a {
  font-size: 14px;
  padding: 0 5px;
  color: #fff;
}

.footer .post li a:hover,
.footer .bottom-link li a:hover,
.footer .recent-post-content h6 a:hover,
.footer .contact-info a:hover,
.footer .links-list li a:hover,
.footer .list-icon li a:hover {
  color: #FFBC09 !important;
}

#chooseEduglobal {
  background-color: #F7F7F7;
}

#chooseEduglobal .chooseeduglobal {
  text-align: center;
  margin-top: 80px;
}

#chooseEduglobal .chooseeduglobal p {
  color: #777777;
  font-size: 18px;
}

#chooseEduglobal .courses-card {
  margin-top: 50px;
  background-color: #fff;
  text-align: center;
  padding: 18px;
  border-radius: 14px;
  margin-bottom: 100px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#chooseEduglobal .courses-card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#chooseEduglobal .courses-card:hover i {
  border: 4px solid white;
  border-radius: 100%;
}

#chooseEduglobal .courses-card p {
  color: #777;
  font-size: 17px;
}

#chooseEduglobal .courses-card .icones {
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  width: 35%;
  padding: 50px 20px;
  border-radius: 100%;
  height: 105px;
  margin-top: 0px;
}

#chooseEduglobal .courses-card .icones i {
  display: inline-block;
  font-size: 47px;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: -43px -15px 16px;
  width: 95px;
  height: 91px;
  padding: 25px 18px;
}

#chooseEduglobal .chalk {
  background-color: #B3D36A;
}

#chooseEduglobal .book {
  background-color: #F64860;
}

#chooseEduglobal .globus {
  background-color: #FFBC0A;
}

#coach {
  position: relative;
  background-color: #FFBC09;
  padding: 54px 0;
}

#coach h2 {
  font-size: 37px;
  color: white;
}

#coach p {
  color: white;
}

#coach .get-start {
  margin: 21px 0 0 0;
  width: 180px;
  border: 2px solid white;
  padding: 10px 0;
  color: white;
  font-size: 22px;
  border-radius: 4px;
}

#coach .get-start:hover {
  color: #DF9C00;
}

body {
  overflow: auto;
}

#mostpopular {
  -webkit-transition: all 1.7s;
  transition: all 1.7s;
  cursor: pointer;
  margin-top: 95px;
  margin-bottom: 95px;
}

#mostpopular .texts {
  text-align: center;
}

#mostpopular p {
  color: #777;
  margin-bottom: 40px;
}

#mostpopular .icon-card {
  width: 170px;
  border-radius: 8px;
  text-align: center;
  height: 120px;
}

#mostpopular .icon-card p {
  color: white;
  padding-top: 6px;
}

#mostpopular .pink {
  background-color: #F94FA4;
}

#mostpopular .blue {
  background-color: #38DDF7;
}

#mostpopular .orange {
  background-color: #F89035;
}

#mostpopular .red {
  background-color: #F6475F;
}

#mostpopular .green {
  background-color: #B3D369;
}

#mostpopular .yellow {
  background-color: #FFBC09;
}

#mostpopular i {
  font-size: 30px;
  color: white;
  padding-top: 26px;
}

#iframe {
  position: relative;
}

#iframe .content {
  -webkit-transition: all 1.7s;
  transition: all 1.7s;
  top: 110px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: -8px 2px 21px -7px;
  box-shadow: -8px 2px 21px -7px;
  width: 800px;
  border-radius: 0px 200px 200px  0;
  height: 370px;
  padding: 40px;
}

#iframe .content .key-1 {
  color: #F5586D;
}

#iframe .content .key-2 {
  color: #B3D36A;
}

#iframe .content .key {
  font-size: 35px;
  font-weight: bolder;
}

#iframe .content .value {
  font-weight: bolder;
}

#iframe .content .statistic {
  display: inline-block;
  padding-left: 22px;
}

#iframe .picture {
  -webkit-transition: all 1.7s;
  transition: all 1.7s;
  display: inline-block;
  margin-left: 719px;
}

#iframe .picture .play-icon {
  position: absolute;
  z-index: 1;
  top: 250px;
  right: 420px;
  color: white;
  font-size: 20px;
  color: #DF9C00;
  background-color: #fff;
  width: 50px;
  border-radius: 100%;
  height: 50px;
  text-align: center;
  padding-top: 8px;
}

#iframe .picture .play-icon i {
  margin-left: 4px;
}

#iframe .picture .heartBeat {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-box-shadow: -9px 6px 70px -2px;
          box-shadow: -9px 6px 70px -2px;
  border: 2px solid whitesmoke;
}

#iframe .picture img {
  width: 796px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#our-courses {
  cursor: pointer;
  margin: 70px 0 70px 0;
}

#our-courses button {
  border: none;
  width: 250px;
  height: 50px;
  margin: 40px 0 0 390px;
  background-color: #DF9C00;
  color: white;
  border-radius: 5px;
  font-size: 19px;
}

#our-courses hr {
  margin: 7px;
  padding: 0%;
}

#our-courses .course {
  overflow: hidden;
  -webkit-box-shadow: -8px 2px 21px -10px;
          box-shadow: -8px 2px 21px -10px;
  margin-top: 16px;
  border-radius: 10px;
  height: 457px;
}

#our-courses .course .sekil {
  overflow: hidden;
  width: 350px;
  height: 240px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#our-courses .course:hover .sekil {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

#our-courses .course .user {
  border-radius: 100%;
  width: 45px;
  margin-left: 6px;
}

#our-courses .course img {
  border-radius: 10px 10px 0 0;
}

#our-courses h2 {
  text-align: center;
}

#our-courses .caption {
  text-align: center;
}

#our-courses .content a {
  text-align: center;
  text-decoration: none;
  color: #333333;
}

#our-courses p {
  color: #777;
  margin-left: 8px;
}

#our-courses .icones-star {
  display: inline-block;
  margin-right: 130px;
  color: #DF9C00;
}

#our-courses .icones-user {
  display: inline-block;
  margin-left: 50px;
}

.btn:focus, .btn:hover, .btn.active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: medium none;
}

button:focus {
  outline: none;
}

.btn {
  border-width: 2px;
  cursor: pointer;
  line-height: normal;
  padding: 12px 30px;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.active:focus, .btn:active:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-default {
  background-color: #FFBC09;
  border: 2px solid #FFBC09;
  color: #ffffff !important;
  padding: 12px 30px;
}

.btn-default:hover {
  background-color: #DF9C00;
  border-color: #DF9C00;
  color: #fff;
}

.btn-default::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.btn-default:hover::before {
  -webkit-transform: skewX(-45deg) translateX(40em);
  transform: skewX(-45deg) translateX(40em);
}

.btn-black {
  border: 2px solid #333;
  background-color: #333;
  color: #ffffff;
  padding: 12px 30px;
}

.btn-black:hover {
  background-color: #ffffff;
  color: #333;
}

.btn-outline-white {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 18px 12px;
  border-radius: 50px;
}

.btn-outline-white:hover {
  color: #FFBC09;
}

.btn-outline-white::before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  background-color: #fff;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn-outline-white::after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

.btn-outline-white:hover::before {
  left: 0%;
  right: auto;
  width: 100%;
}

.btn-outline-black {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
  padding: 12px 30px;
}

.btn-outline-black:hover {
  color: #fff;
}

.btn-outline-black::before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  background-color: #333;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn-outline-black::after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

.btn-outline-black:hover::before {
  left: 0%;
  right: auto;
  width: 100%;
}

.btn-outline-default {
  background-color: transparent;
  border: 2px solid #FFBC09;
  color: #FFBC09 !important;
  padding: 12px 30px;
}

.btn-outline-default:hover {
  color: #fff !important;
}

.btn-outline-default::before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  background-color: #FFBC09;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn-outline-default::after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

.btn-outline-default:hover::before {
  left: 0%;
  right: auto;
  width: 100%;
}

.btn-radius,
.pr-radius {
  border-radius: 40px !important;
}

.btn + .btn {
  margin-left: 10px;
}

.btn i {
  font-size: 22px;
  vertical-align: middle;
  line-height: 1;
}

.btn span {
  font-size: 14px;
}

.btn-group-sm > .btn, .btn-sm {
  padding: 7px 15px;
}

.btn-group-lg > .btn, .btn-lg {
  padding: 14px 35px;
}

.btn-xs {
  padding: 4px 15px;
  font-size: 12px;
}

.btn-md {
  padding: 12px 30px;
  font-size: 16px;
}

.btn.btn-xs i {
  font-size: 12px;
}

.btn.btn-sm i {
  font-size: 16px;
}

.btn.btn-lg i {
  font-size: 28px;
}

#parallax {
  position: relative;
  background-image: url("../image/counter_bg.jpg");
  background-repeat: no-repeat;
  height: 300px;
  background-attachment: fixed;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#parallax .parallax-overlay {
  background-color: rgba(38, 92, 114, 0.747);
  width: 100%;
  height: 300px;
  position: absolute;
  text-align: center;
}

#parallax .parallax-overlay i {
  font-size: 40px;
  color: white;
}

#parallax .parallax-overlay span {
  color: white;
  font-size: 35px;
}

#parallax .parallax-overlay p {
  color: white;
}

#parallax .col-lg-3 {
  padding-top: 80px;
}

#event {
  margin: 50px 0 60px;
}

#event .col-lg-12 {
  text-align: center;
}

#event .card {
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0.4px 0px 5px 0.3px;
          box-shadow: 0.4px 0px 5px 0.3px;
  border: none;
}

#event .card a {
  color: #333;
  text-decoration: none;
}

#event .card img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#event .card:hover img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

#event .card .history {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  background-color: #fff;
  border-radius: 6px;
  width: 80px;
  font-size: 17px;
}

#event .card .history .clock {
  background-color: #DF9C00;
  color: white;
  border-radius: 0 0 6px 6px;
}

#event .card .history p {
  margin: 0%;
}

#online-course {
  background-color: #07294D;
  position: relative;
}

#online-course .col-lg-6 {
  padding-top: 50px;
}

#online-course .forms {
  border-radius: 7px;
  position: absolute;
  top: 70px;
  left: 30px;
  background-color: rgba(32, 64, 95, 0.514);
  padding: 15px;
  height: 420px;
}

#online-course .forms p {
  padding: 15px 0 10px;
  margin: 10px 0 15px 0;
  color: white;
}

#online-course .forms h2 {
  color: white;
}

#online-course .forms h2 span {
  color: #DF9C00;
}

#online-course .forms input {
  margin: 10px 10px 10px 0;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: rgba(32, 64, 95, 0.514);
  color: white;
}

#online-course .forms .area {
  display: block;
  width: 91.6%;
  height: 70px;
}

#galery {
  margin: 50px 0 50px;
}

#galery .col-lg-12 {
  text-align: center;
}

#galery .col-lg-12 button {
  padding: 4px;
  width: 80px;
  border: none;
  margin-bottom: 40px;
  margin-left: 5px;
  border-radius: 4px;
}

#galery .col-lg-12 .first {
  color: white;
  background-color: #DF9C00;
}

#galery .col-lg-4 {
  position: relative;
}

#galery .col-lg-4 .title {
  width: 340px;
  height: 50px;
  position: absolute;
  top: 1;
  left: 21px;
  z-index: 1;
  background-color: #222;
  opacity: 0;
  padding: 113px 0;
  color: white;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 29px;
  text-align: center;
}

#galery .col-lg-4 .title:hover {
  opacity: 0.6;
}

#galery .col-lg-4 .img {
  padding: 6px;
}

#galery .col-lg-4 .img img {
  width: 340px;
  border-radius: 6px;
}
/*# sourceMappingURL=style.css.map */