#coach{
   background-color:  #FFBC09;
   padding: 54px 0;
   h2{
       font-size: 37px;
       color: white;
   }
   p{
       color: white;
   }
   .get-start{
       margin: 21px 0 0 0;
       background-color: #FFBC09;
       width: 180px;
       border: 2px solid white;
       padding: 10px 0;
       color: white;
       font-size: 22px;
       border-radius: 4px;
   }
}