#event{
    .col-lg-12{
        text-align: center;
    }
    .card{
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        box-shadow:0.4px 0px 5px 0.3px;
        border: none;
        a{
            color: #333;
            text-decoration:none;
        }
       img{
        @include transition (all 0.5s);
       }
        &:hover img{
            transform: scale(1.04);
        }
        .history{
            position: absolute;
            z-index: 1;
            top: 5px;
            left: 5px;
            background-color: #fff;
            border-radius: 6px;
            width: 80px;
            font-size: 17px;
        
            .clock{
                background-color:$primary-color;
                color: white;
                border-radius: 0 0 6px 6px;
                
            }
            p{
                margin: 0%;
            }
        }
    }
margin: 50px 0 60px;

}