*{
    box-sizing: border-box;
}
#carousel{
    .carousel-control-prev{
        .carousel-control-prev-icon{
            background-color:rgba(12, 12, 12, 0.849);
            width: 30px;
            height: 30px;
            border-radius: 80%;
        }
      
    }
    .carousel-control-next-icon{
        background-color:rgba(12, 12, 12, 0.849) !important; 
        width: 30px;
        height: 30px;
        border-radius: 80%;
    } 
    .carousel-item{
        height: 640px;
    }
    .btn-sm{
        position: absolute;
        z-index: 2;
        top: -20%;
        left: 400px;
    }
    .btn-outline-white{
position: absolute;
z-index: 2;
top: -20%;
right: 400px;
padding: 10px;
border-radius: 4px;
    }
}
