#mostpopular{
    cursor: pointer;
    margin-top: 95px;
    margin-bottom: 95px;
 .texts{
     text-align: center;
 }
 p{
     color: #777;
     margin-bottom: 40px;
 }
 .icon-card{
    p{
        color: white;
        padding-top: 6px;
    }
    
     width: 170px;
     border-radius: 8px;
     text-align: center;
     height: 120px;
 }.pink{
     background-color:#F94FA4;
 }.blue{
     background-color: #38DDF7;
 }.orange{
     background-color:#F89035 ;
 }.red{
     background-color:#F6475F ;
 }.green{
     background-color:#B3D369 ;
 }.yellow{
     background-color: #FFBC09;
 }
 i{
     font-size: 30px;
     color: white;
     padding-top: 26px;
 }
 
}